<table class="table table-bordered ladb-outliner-group ladb-outliner-group-dark">
    <thead>
    <tr class="table-column-heading">
        <td>
            <div class="ladb-minitools ladb-minitools-left">
                <button id="ladb_btn_toggle_hidden" class="btn btn-default btn-xs" data-toggle="tooltip" title="{{ 'tab.outliner.option.show_hidden_instances_help'|i18next }}"><i class="ladb-opencutlist-icon-check-box"></i> {{ 'tab.outliner.toggle_hidden'|i18next }}</button>
            </div>
            <div class="ladb-minitools ladb-minitools-right">
                <a href="#" id="ladb_btn_toggle_select_all" class="no-print" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.select_unselect_all_parts'|i18next }}"><i class="ladb-opencutlist-icon-check-box-with-check-sign"></i></a>
            </div>
            {{ 'tab.outliner.nodes'|i18next }}
        </td>
    </tr>
    </thead>
    <tbody id="ladb_outliner_tbody"></tbody>
</table>
