{# set errors #}
{# set warnings #}
{# set tips #}

{% include 'core/_alert-errors.twig' %}
{% include 'core/_alert-warnings.twig' %}
{% include 'core/_alert-tips.twig' %}

{% if root_node %}
    <table class="table table-bordered ladb-outliner-group ladb-outliner-group-dark">
        <thead>
        <tr class="table-column-heading">
            <td>{{ 'tab.outliner.nodes'|i18next }}</td>
            <td width="8%">{{ 'tab.outliner.part_count'|i18next }}</td>
        </tr>
        </thead>
        <tbody>
        {% include 'tabs/outliner/_list-row-node.twig' with { 'node':root_node, 'depth':0, 'parentNodeVisible':true, 'parentNodeExpanded':true } %}
        </tbody>
    </table>
{% endif %}