{% extends 'tabs/base-tab.twig' %}

{% block headerToolsInner %}
{% endblock %}

{% block containerInner %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left"><i class="ladb-opencutlist-icon-news" style="font-size: 150%;"></i></div>
                <div class="media-body">{{ 'tab.news.help'|i18next }}</div>
            </div>
        </div>
    </div>
    <div class="ladb-page">
        {% include 'core/_loading.twig' with { 'noHidden':true } %}
    </div>
{% endblock %}