//
// Cutlist
//

.ladb-cutlist {
  background-color: #fff;

  &.no-print {
    opacity: 0.5;

    tbody {
      display: none;
    }

  }

}

.ladb-btn-toggle-no-print {
  margin-right: 10px;
}

.ladb-part-thumbnail {
  text-align: center;
  margin-bottom: @ladb-gutter;
}