//
// Base
//

@media screen and (min-width: @ladb-leftbar-width) and (max-height: 900px) {
  html.ladb-font-size-auto {
    font-size: 90%;
  }
}

@media screen and (min-width: @ladb-leftbar-width) and (max-height: 700px) {
  html.ladb-font-size-auto {
    font-size: 80%;
  }
}

@media screen and (max-width: @ladb-leftbar-width * 2) {
  html {
    font-size: 100% !important;
  }
}

html.ladb-font-size-small {
  font-size: 90%;
}

html.ladb-font-size-tiny {
  font-size: 80%;
}

body {
  overflow-x: hidden;

  &.ladb-dialog-tabs {
    background-color: @ladb-brand-dark;
  }

}

blockquote {
  font-size: 100%;
}
