//
// Base
//

body {
  overflow-x: hidden;
  background-color: @ladb-brand-dark;
}

blockquote {
  font-size: 100%;
}

#ladb_dev_alert {
  font-size: 110%;
  margin-bottom: 0;
  position: fixed;
  bottom: @ladb-bottombar-height + 20px;
  left: @ladb-leftbar-width + 20px;
  right: 40%;
}
