//
// Paper page
//

.ladb-paper-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 10px #999;

  .ladb-paper-page-header {
    flex-grow: 0;

    .ladb-header {
      border-bottom: none;
      background: none;
      padding: 0 !important;
      position: relative;

      .container-fluid {
        margin: 0 !important;
        padding: 0 !important;

        .ladb-heading {
          margin: 0 0 10px 0 !important;
          line-height: 1.1em;
          font-size: 1.8em;
        }

        .ladb-header-extra {

          .ladb-file-infos {
            border: 1px solid #000;
            padding: 10px;
            text-align: center;
            margin-bottom: @ladb-gutter;

            .ladb-file-infos-name {
              font-size: 1.4em;
            }

            .ladb-file-infos-description {
              font-size: 0.8em;
            }

          }

          .ladb-time-and-unit {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 34px;
          }

        }

      }

    }

  }

  .ladb-paper-page-body {
    flex-grow: 1;
  }

}

