//
// Ladb Radios
//

.ladb-radios-group {
  margin: 15px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-spacing: 2px;

  & > label {
    color: #777;
    font-weight: normal;
  }

  & > div {
    flex-grow: 1;
  }

}