//
// Tab
//

.ladb-tab {

  .modal.modal-inside, .modal-backdrop {
    margin-left: @ladb-leftbar-width;
    margin-bottom: @ladb-bottombar-height;
  }

  .modal-backdrop {
    background: @ladb-global-bg;
    z-index: 1000;
  }

  .modal-open {
    overflow: hidden;
  }

}
