//
// Utils
//

.ladb-nowrap {
  white-space: nowrap;
}

.ladb-horizontal-left-separator {
  margin-left: 10px;
  border-left: 1px solid @ladb-global-border;
  padding-left: 10px;
}

.ladb-opacity-hide {
  opacity: 0;
}