/src/ladb_opencutlist/html/dialog-*.html
/src/ladb_opencutlist/css/ladb-opencutlist.css
/src/ladb_opencutlist/css/ladb-opencutlist.min.css
/src/ladb_opencutlist/css/ladb-opencutlist-icons.min.css
/src/ladb_opencutlist/css/lib/*.min.css
/src/ladb_opencutlist/js/templates/
/src/ladb_opencutlist/js/i18n/
/src/ladb_opencutlist/js/lib/three-orbit-controls.js
/src/ladb_opencutlist/js/lib/three-css-2d-renderer.js
/src/ladb_opencutlist/js/lib/three.js
/src/ladb_opencutlist/js/lib/bootstrap-slider.js
/src/ladb_opencutlist/bin/osx/lib/*
/src/ladb_opencutlist/bin/win/lib/*
/src/ladb_opencutlist/yaml/i18n/*
/docs/skp/*~.skp
/build/node_modules/
/build/cmake-build/
/build/package-lock.json
/Gemfile.lock
/cmake-*
