{# set tabName #}

<div id="ladb_tab_{{ tabName }}" class="ladb-tab">
    <div class="ladb-header">
        <div class="container">
            {% block headerInner %}
                {% block headerToolsOuter %}
                    <div class="no-print ladb-header-tools">
                        {% block headerToolsInner %}{% endblock %}
                    </div>
                {% endblock %}
                <h1 class="ladb-heading">{% block headerHeadingInner %}{{ ('tab.'~tabName~'.title')|i18next }}{% endblock %}</h1>
                <ul class="ladb-file-tabs nav nav-tabs"></ul>
            {% endblock %}
        </div>
    </div>
    <div class="ladb-container container">
        {% block containerInner %}{% endblock %}
    </div>
</div>
