{# set tabName #}

<div id="ladb_tab_{{ tabName }}">
    <div class="ladb-header">
        <div class="container">
            {% block headerInner %}
                {% block headerToolsOuter %}
                    <div class="no-print ladb-header-tools">
                        {% block headerToolsInner %}{% endblock %}
                    </div>
                {% endblock %}
                <h1 class="ladb-heading">{% block headerHeadingInner %}{% endblock %}</h1>
            {% endblock %}
        </div>
    </div>
    <div id="ladb_container" class="container">
        {% block containerInner %}
            <div class="no-print alert alert-danger ladb-alert-errors" style="display: none;"></div>
            <div class="no-print alert alert-warning ladb-alert-warnings" style="display: none;"></div>
        {% endblock %}
    </div>
</div>
