<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--[if gt IE 8]><!-->
    <style> {# Keep this lines before all other styles #}
        @page {
            margin: 5mm 5mm 15mm 5mm;
        }
    </style>
    <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lib/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/lib/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="../css/lib/noty.min.css">
    <link rel="stylesheet" href="../css/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/lib/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="../css/ladb-opencutlist.min.css">
    <link rel="stylesheet" href="../css/ladb-opencutlist-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <!--<![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<script type="text/javascript">
    var v = -1;
    if (navigator.appName === 'Microsoft Internet Explorer') {
        var ua = navigator.user_agent;
        var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
        if (re.exec(ua) != null) {
            v = parseFloat(RegExp.$1);
        }
    }
    alert('This plugin uses Internet Explorer to render its user interfaces.\n\nBut your Internet Explorer ' + v + ' is not supported.\n\nPlease upgrade to Internet Explorer 9 or newer.');
</script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script type="text/javascript">
    window.onerror = function (errorMsg, url, lineNumber) {
        alert('Error: ' + errorMsg + '\n Script: ' + url + '\n Line: ' + lineNumber);
    };
</script>
<script src="../js/constants.js"></script>
<script src="../js/polyfills.js"></script>
<script src="../js/lib/classList.min.js"></script>
<script src="../js/lib/jquery-3.5.1.min.js"></script>
<script src="../js/lib/jquery-ui.min.js"></script>
<script src="../js/lib/jquery.textcomplete.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/lib/bootstrap-select.min.js"></script>
<script src="../js/lib/bootstrap-tokenfield.min.js"></script>
<script src="../js/lib/twig.min.js"></script>
<script src="../js/lib/tribute.min.js"></script>
<script src="../js/lib/base64.min.js"></script>
<script src="../js/lib/i18next.min.js"></script>
<script src="../js/lib/noty.min.js"></script>
<script src="../js/components/jquery.ladb.leftbar.js"></script>
<script src="../js/components/jquery.ladb.abstract-textinput.js"></script>
<script src="../js/components/jquery.ladb.textinput-dimension.js"></script>
<script src="../js/components/jquery.ladb.textinput-tokenfield.js"></script>
<script src="../js/components/jquery.ladb.textinput-color.js"></script>
<script src="../js/components/jquery.ladb.textinput-number-with-unit.js"></script>
<script src="../js/components/jquery.ladb.editor-formula.js"></script>
<script src="../js/components/jquery.ladb.editor-label.js"></script>
<script src="../js/components/jquery.ladb.editor-std-prices.js"></script>
<script src="../js/components/jquery.ladb.widget-preset.js"></script>
<script src="../js/plugins/jquery.ladb.abstract-tab.js"></script>
<script src="../js/plugins/jquery.ladb.dialog.js"></script>
<script src="../js/plugins/jquery.ladb.tab-materials.js"></script>
<script src="../js/plugins/jquery.ladb.tab-cutlist.js"></script>
<script src="../js/plugins/jquery.ladb.tab-importer.js"></script>
<script src="../js/plugins/jquery.ladb.tab-tutorials.js"></script>
<script src="../js/plugins/jquery.ladb.tab-news.js"></script>
<script src="../js/plugins/jquery.ladb.tab-forum.js"></script>
<script src="../js/plugins/jquery.ladb.tab-sponsor.js"></script>
<script src="../js/plugins/jquery.ladb.tab-settings.js"></script>
<script src="../js/plugins/jquery.ladb.tab-about.js"></script>
<script src="../js/templates/twig-templates.js"></script>
<script src="../js/i18n/{{ language }}.js"></script>
<script src="../js/main.js"></script>
<!--<![endif]-->
</body>
</html>
