.ladb-leftbar {
    z-index: 1040;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #3e3b33;
    width: 90px;
}

.ladb-leftbar a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #d6d4cd;
    position: relative;
    padding-top: 12px;
    width: 90px;
    height: 80px;
}

.ladb-leftbar a i {
    font-size: 30px;
}

.ladb-leftbar a:hover {
     background-color: #d6d4cd;
     color: #3e3b33;
 }

.ladb-leftbar a.ladb-active {
    background-color: #f77f00;
    color: #fff;
}