.ladb-bottombar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 30px;
    background-color: #ededed;
    border-top: 1px solid #ddd;
    font-size: 80%;
}

.ladb-bottombar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.ladb-bottombar > ul li {
    display: inline-block;
    border-left: 1px solid #ddd;
}

.ladb-bottombar > ul li > a {
    color: #3e3b33;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    position: relative;
    padding: 0 10px 0 10px;
}

.ladb-bottombar > ul li > a:hover, .ladb-bottombar > ul li > a.ladb-active {
    text-decoration: none;
    background-color: #3e3b33;
    color: #d6d4cd;
}


