#ladb_header {
    background-color: #ededed;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

#ladb_header .ladb-heading {
    margin: 15px 0 15px 0;
    color: #333;
    line-height: 30px;
    font-size: 2em;
}

#ladb_header .ladb-header-tools {
    margin: 15px 0 15px 20px;
    float: right;
}

/* Print */

@media print {
    #ladb_header {
        border-bottom: none;
    }
}
