
#ladb_wrapper {
    padding-left: 90px;
    padding-bottom: 30px;
}

#ladb_container {
    padding-top: 20px;
}

table.ladb-cutlist tr td {
    white-space: nowrap;
}

/* Print */

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    html, body {
        margin: 0 !important;
    }

    #ladb_wrapper {
        padding-left: 0;
    }

    #ladb_container {
        padding-top: 0
    }

    table.table-bordered {
        border-color: #000;
    }
}