
#ladb_wrapper {
    padding-left: 90px;
    padding-bottom: 30px;
}

#ladb_container {
    padding-top: 20px;
}

table.ladb-cutlist {
    background-color: #fff;
}

table.ladb-cutlist.no-print {
    opacity: 0.5;
}

table.ladb-cutlist tr td {
    white-space: nowrap;
}

/* Print */

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    html, body {
        margin: 0 !important;
    }

    #ladb_wrapper {
        padding-left: 0;
    }

    #ladb_container {
        padding-top: 0
    }

    .table-bordered {
        border: 1px solid #000;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #000;
    }

}