@font-face {
  font-family: 'ladb_toolbox';
  src:  url('../fonts/ladb_toolbox.eot?y3si8u');
  src:  url('../fonts/ladb_toolbox.eot?y3si8u#iefix') format('embedded-opentype'),
  url('../fonts/ladb_toolbox.ttf?y3si8u') format('truetype'),
  url('../fonts/ladb_toolbox.woff?y3si8u') format('woff'),
  url('../fonts/ladb_toolbox.svg?y3si8u#ladb_toolbox') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, span.ladb-toolbox-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ladb_toolbox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ladb-toolbox-icon-unknow:before {
  opacity: 0.3;
}


.ladb-toolbox-icon-save:before {
  content: "\e91f";
}
.ladb-toolbox-icon-numbers-reset:before {
  content: "\e91d";
}
.ladb-toolbox-icon-numbers-save:before {
  content: "\e91e";
}
.ladb-toolbox-icon-orientation-locked-on-axis:before {
  content: "\e91c";
}
.ladb-toolbox-icon-export:before {
  content: "\e91a";
}
.ladb-toolbox-icon-trash:before {
  content: "\e91b";
}
.ladb-toolbox-icon-sort-asc:before {
  content: "\e915";
}
.ladb-toolbox-icon-sort-desc:before {
  content: "\e916";
}
.ladb-toolbox-icon-reorder:before {
  content: "\e917";
}
.ladb-toolbox-icon-material-origin-1:before {
  content: "\e913";
}
.ladb-toolbox-icon-material-origin-3:before {
  content: "\e911";
}
.ladb-toolbox-icon-material-origin-2:before {
  content: "\e912";
}
.ladb-toolbox-icon-edit:before {
  content: "\e90d";
}
.ladb-toolbox-icon-arrow-circle-down:before {
  content: "\e90f";
}
.ladb-toolbox-icon-arrow-circle-up:before {
  content: "\e910";
}
.ladb-toolbox-icon-settings:before {
  content: "\e907";
}
.ladb-toolbox-icon-warning:before {
  content: "\e908";
}
.ladb-toolbox-icon-help:before {
  content: "\e909";
}
.ladb-toolbox-icon-print:before {
  content: "\e906";
}
.ladb-toolbox-icon-cutlist:before {
  content: "\e900";
}
.ladb-toolbox-icon-refresh:before {
  content: "\e918";
}
.ladb-toolbox-icon-tick:before {
  content: "\e90e";
}
.ladb-toolbox-icon-link:before {
  content: "\e90c";
}
.ladb-toolbox-icon-eye-close:before {
  content: "\e90a";
}
.ladb-toolbox-icon-eye-open:before {
  content: "\e90b";
}
.ladb-toolbox-icon-tip:before {
  content: "\e914";
}
.ladb-toolbox-icon-solid-wood:before {
  content: "\e903";
}
.ladb-toolbox-icon-materials:before {
  content: "\e901";
}
.ladb-toolbox-icon-unknow:before {
  content: "\e919";
}
.ladb-toolbox-icon-sheet-good:before {
  content: "\e902";
}
.ladb-toolbox-icon-chevron-right:before {
  content: "\e904";
}
.ladb-toolbox-icon-chevron-left:before {
  content: "\e905";
}


