<div class="ladb-cutlist-export-column-item-header">{% if header %}<strong>{{ header }}</strong>{% if name and name != header %} <em class="text-muted">&lt;{{ ('tab.cutlist.export.'~name)|i18next }}&gt;</em>{% endif %}{% elseif name %}{{ ('tab.cutlist.export.'~name)|i18next }}{% else %}<span class="text-muted">{{ 'tab.cutlist.export.placeholder.no_header'|i18next }}</span>{% endif %}</div>
