<div class="ladb-cutlist-export-column-item-header">{% if header %}<strong>{{ header }}</strong>{% elseif name %}{{ ('tab.cutlist.export.'~name)|i18next }}{% else %}<span class="text-muted">{{ 'tab.cutlist.export.placeholder.no_header'|i18next }}</span>{% endif %}</div>
