<li data-name="{{ colDef.name }}" data-hidden="{{ colDef.hidden }}"{% if colDef.hidden %} class="ladb-inactive"{% endif %}>
    <span class="ladb-handle"><i class="ladb-opencutlist-icon-reorder"></i></span> {{ ('tab.cutlist.export.'~colDef.name)|i18next }}
    <div class="ladb-minitools ladb-minitools-right">
        <a href="#" class="ladb-cutlist-export-col-visibility-btn"><i class="ladb-opencutlist-icon-eye-{% if colDef.hidden %}close{% else %}open{% endif %}"></i></a>
{#        <a class="ladb-cutlist-export-col-formula-btn{% if colDef.formula %} ladb-active{% endif %}"><i class="ladb-opencutlist-icon-formula"></i></a>#}
    </div>
    <div class="ladb-cutlist-export-col-formula hidden">
        <p class="form-control ladb-editor-formula" contenteditable="true"></p>
    </div>
</li>