<td class="ladb-cutlist-dimension-value">{% if part[property~'_increased'] %}<i class="ladb-opencutlist-icon-asterisk" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.size_increased'|i18next({ 'value':part[property~'_increase'] }) }}"></i>{% endif %}{{ part[property] }}</td>
