<td class="ladb-cutlist-value ladb-cutlist-value-highlighted">
    <span data-toggle="tooltip"{% if part.number == part.saved_number %} style="border: 1px solid red; padding: 0 4px;" title="{{ 'tab.cutlist.tooltip.number_saved'|i18next }}"{% elseif part.saved_number is not null %} style="border: 1px solid #dedede; padding: 0 4px;" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.number_hidden'|i18next({ 'number':part.saved_number }) }}"{% else %} title="{{ 'tab.cutlist.tooltip.number_generated'|i18next }}"{% endif %}>{{ part.number }}</span>
</td>