<td class="ladb-cutlist-value ladb-cutlist-value-right">
    <div class="ladb-flex">
        {% if not noValue|default(false) %}<span class="ladb-flex-grow-1">{{ part[property] }}</span>{% endif %}
    </div>
</td>
