
{# set materialOrigin #}
{# set displayOwned (facultative) #}
{# set flat (facultative) #}

{% set displayOwned = displayOwned|default(false) %}
{% set flat = flat|default(false) %}

{% for materialOrigin in materialOrigins %}
    {% if materialOrigin > 1 or displayOwned %}  {# OWNED origin are ignored #}
        {% if flat %}
            <div class="media">
                <div class="media-left" style="width: 40px;"><i class="ladb-opencutlist-icon-material-origin-{{ materialOrigin }} ladb-opencutlist-icon-lg ladb-color-info"></i></div>
                <div class="media-body">
                    {{ ('tab.cutlist.tooltip.material_origin_'~materialOrigin)|i18next }}
                </div>
            </div>
        {% else %}
            <a class="ladb-tool-info" data-toggle="tooltip" title="{{ ('tab.cutlist.tooltip.material_origin_'~materialOrigin)|i18next }}"><i class="ladb-opencutlist-icon-material-origin-{{ materialOrigin }}"></i></a>
        {% endif %}
    {% endif %}
{% endfor %}
