{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_help' %}
{% set title = 'default.help'|i18next %}

{% block bodyInner %}
    <div>
        <svg width="100%" height="100%" viewBox="0 0 1277 940" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
            <g>
                <path d="M1024.09,269.736l-407.455,270.994l-1.094,-111.588l422.344,-248.908l-13.795,89.502Z" style="fill:#ddd;fill-rule:nonzero;"/>
                <path d="M1037.89,180.234l-422.344,248.908l-208.492,-91.456l498.616,-230.676l80.624,19.492l-52.263,26.848l47.129,12.199l56.73,14.685Z" style="fill:#dbdbdb;fill-rule:nonzero;"/>
                <path d="M1037.89,180.234l-422.344,248.908l-208.492,-91.456l498.616,-230.676l80.624,19.492l-52.263,26.848l47.129,12.199l56.73,14.685Z" style="fill:#E5F20D;fill-rule:nonzero;" class="ladb-final"/>
                <path d="M934.029,153.35l52.263,-26.848l-5.134,39.047l-47.129,-12.199Z" style="fill:#ddd;fill-rule:nonzero;"/>
                <path d="M456.47,571.273l-146.616,-81.26l-5.781,-40.134l148.911,79.261l3.486,42.133Z" style="fill:#ededed;fill-rule:nonzero;"/>
                <path d="M456.47,571.273l-3.486,-42.133l131.333,-77.736l0.938,40.175l-30.215,18.697l-98.57,60.997Z" style="fill:#ddd;fill-rule:nonzero;"/>
                <path d="M452.984,529.14l-148.911,-79.261l108.503,-54.1l23.92,-11.927l147.821,67.552l-131.333,77.736Z" style="fill:#dbdbdb;fill-rule:nonzero;"/>
                <path d="M616.638,540.73l-61.598,-30.454l30.215,-18.697l-0.938,-40.175l-147.821,-67.552l-23.92,11.927l-5.525,-58.093l208.493,91.456l1.094,111.588Z" style="fill:#ededed;fill-rule:nonzero;"/>
                <path d="M616.638,540.73l407.455,-270.994" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M615.544,429.142l422.344,-248.908" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M905.668,107.01l-498.617,230.676" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M986.292,126.502l-80.624,-19.492" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M986.292,126.502l-52.263,26.848" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M986.292,126.502l-5.134,39.047" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M1037.89,180.234l-13.795,89.502" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M309.854,490.013l146.616,81.26" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M456.47,571.273l-3.486,-42.133" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M452.984,529.14l-148.911,-79.261" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M304.073,449.879l5.781,40.134" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M555.04,510.276l61.598,30.453" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M616.638,540.73l-1.094,-111.588" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M407.051,337.686l208.493,91.456" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M412.576,395.779l-5.525,-58.093" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M584.317,451.404l-147.821,-67.552" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M585.256,491.579l-0.939,-40.175" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M452.984,529.14l131.333,-77.736" style="fill:none;stroke:#000;stroke-width:1px;"/>
                <path d="M934.029,153.35l47.129,12.199" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M981.158,165.549l56.73,14.685" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M456.47,571.273l98.57,-60.997" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M555.04,510.276l30.216,-18.697" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M304.073,449.879l108.503,-54.1" style="fill:none;stroke:#000;stroke-width:2px;"/>
                <path d="M412.576,395.779l23.92,-11.927" style="fill:none;stroke:#000;stroke-width:2px;"/>
            </g>
            <g class="ladb-bbox">
                <g>
                    <path d="M1087.53,150.978l-181.862,-43.968" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M905.668,107.01l-633.328,292.998" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M482.395,507.613l605.135,-356.635" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M272.34,400.008l210.055,107.605" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M272.34,400.008l16.889,109.383" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M289.229,509.391l201.236,115.254" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M482.395,507.613l8.07,117.033" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M317.713,494.369l-28.484,15.022" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M1087.53,150.978l-14.808,86.415" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M490.465,624.646l582.257,-387.253" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                    <path d="M1072.72,237.393l-41.847,-11.654" style="fill:none;stroke:#0432ff;stroke-width:2px;"/>
                </g>
                <g>
                    <path d="M285.548,511.333l-176.281,92.972" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M486.971,626.97l-177.95,118.352" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M114.253,601.676l15.491,4.348l-10.589,5.651l-4.902,-9.999Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M314.107,741.94l-16.187,-4.891l9.502,-6.237l6.685,11.128Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M114.253,601.676l83.65,58.708" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M217.903,674.421l96.204,67.519" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <text x="187.585px" y="679.403px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Larg.</text>
                </g>
                <g>
                    <path d="M1076.78,238.523l68.995,19.216" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M494.513,626.964l84.754,48.541" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M1141.12,256.442l-208.907,153.025" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M912.213,424.117l-338.695,248.095" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M1141.12,256.442l-1.962,7.268l-11.474,-3.231l13.436,-4.037Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M573.518,672.212l7.685,-11.342l8.828,4.985l-16.513,6.357Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <text x="915.213px" y="428.792px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Long.</text>
                </g>
                <g>
                    <path d="M285.982,507.531l-122.396,-70.1" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M269.031,398.313l-126.601,-64.854" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M167.004,439.389l-6.051,-29.926" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M152.462,367.463l-6.51,-32.2" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M167.388,425.844l-0.384,13.545l-6.649,-17.51l7.033,3.965Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M145.76,349.486l0.192,-14.223l6.682,17.809l-6.874,-3.586Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <text x="149.707px" y="400.463px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Ep.</text>
                </g>
            </g>
            <g class="ladb-cutting">
                <g>
                    <path d="M359.92,561.983l786.171,-455.275" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M1146.09,106.708l-196.95,-43.055" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M949.141,63.653l-821.734,363.541" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M127.407,427.194l232.513,134.789" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M380.71,726.871l743.906,-507.422" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M160.775,580.249l219.935,146.622" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M320.351,495.831l-159.576,84.417" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M1124.62,219.449l-89.124,-23.667" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M949.141,63.653l-6.013,52.414" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M127.407,427.194l33.368,153.055" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M1146.09,106.708l-21.475,112.741" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                    <path d="M359.92,561.983l20.789,164.888" style="fill:none;stroke:#ff2500;stroke-width:2px;"/>
                </g>
                <g>
                    <path d="M152.103,586.153l-111.157,58.024" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M377.069,729.858l-117.753,79.352" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M46.057,641.509l91.482,68.718" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M157.539,725.25l107.045,80.409" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M46.057,641.509l15.216,4.447l-10.946,5.781l-4.27,-10.228Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M264.584,805.659l-15.991,-5.087l9.752,-6.488l6.239,11.575Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <text x="126.163px" y="729.739px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Larg. + 5mm</text>
                </g>
                <g>
                    <path d="M1128.61,220.51l116.18,30.851" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M384.645,729.494l150.671,100.447" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M1240.19,250.141l-241.379,195.448" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M978.812,461.784l-449.627,364.07" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M1240.19,250.141l-0.934,7.203l-11.931,-3.203l12.865,-4Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M529.185,825.854l8.136,-12.903l8.63,5.671l-16.766,7.232Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <text x="981.812px" y="465.687px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Long. + 10mm</text>
                </g>
                <g>
                    <path d="M124.435,425.472l-68.905,-39.945" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M155.197,566.13l-66.216,-43.694" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M58.876,387.467l12.054,49.579" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M81.142,479.046l11.067,45.52" style="fill:none;stroke:#505050;stroke-width:1px;"/>
                    <path d="M59.451,401.23l-0.575,-13.763l7.059,17.583l-6.484,-3.82Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <path d="M91.923,511.785l0.286,12.781l-6.975,-17.138l6.689,4.357Z" style="fill:#505050;fill-rule:nonzero;"/>
                    <text x="69.036px" y="470.046px" style="font-family:'Tahoma', sans-serif;font-size:24.453px;fill:#505050;text-anchor:middle;">Ep. + 5mm</text>
                </g>
            </g>
        </svg>
    </div>
    <div class="text-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="$('.ladb-cutting').toggleClass('hide');"><i class="ladb-opencutlist-icon-size" style="color: #f00"></i> Dimensions de débit</button>
            <button type="button" class="btn btn-default" onclick="$('.ladb-bbox').toggleClass('hide');"><i class="ladb-opencutlist-icon-size" style="color: #00f"></i> Dimensions capable</button>
            <button type="button" class="btn btn-default" onclick="$('.ladb-final').toggleClass('hide');"><i class="ladb-opencutlist-icon-tip" style="color: #ff0"></i> Surface finie</button>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
{% endblock %}
