{% extends 'core/_modal.twig' %}

{% set id = 'ladb_tutorials_modal_submit' %}
{% set title = 'tab.tutorials.submit'|i18next %}

{% block bodyInner %}
    {{ 'tab.tutorials.submit_info'|i18next }}
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
    <a href="mailto:opencutlist@lairdubois.fr?subject={{ 'tab.tutorials.submit'|i18next }}" target="_blank" class="btn btn-default btn-primary"><i class="ladb-opencutlist-icon-send"></i> {{ 'tab.tutorials.submit'|i18next }}...</a>
{% endblock %}
