{% extends 'core/_modal.twig' %}

{% set id = 'ladb_tutorial_play' %}
{% set title = tutorial.title %}

{% block headerInner %}
    <div class="media">
        <div class="media-left">
            {% include 'tabs/tutorials/_country.twig' %}
        </div>
        <div class="media-body">
            {{ parent() }}
            {% include 'tabs/tutorials/_author.twig' %}
        </div>
    </div>
{% endblock %}

{% block bodyInner %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ tutorial.video_id }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
{% endblock %}