{% extends 'core/_modal.twig' %}

{% set id = 'ladb_tutorial_play' %}
{% set title = tutorial.title %}

{% block headerInner %}
    <div class="media">
        <div class="media-left"><div style="display: inline-block; background: #333; color: #fff; border-radius: 5px; padding: 3px 5px;">{{ tutorial.locale|upper }}</div></div>
        <div class="media-body">{{ parent() }}</div>
    </div>
{% endblock %}

{% block bodyInner %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ tutorial.video_id }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% include 'tabs/tutorials/_author.twig' %}
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
{% endblock %}