{% extends 'tabs/base-tab.twig' %}

{% block containerInner %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left"><i class="ladb-opencutlist-icon-tutorial" style="font-size: 150%;"></i></div>
                <div class="media-body">{{ 'tab.tutorials.help'|i18next }}</div>
            </div>
        </div>
    </div>
    <div class="ladb-page"></div>
{% endblock %}