{% if material_color %}<span class='ladb-material-color-drop' style='background-color: {{ material_color }}; border-color: {{ blend_colors(material_color, '#000000', 0.2) }};'>&nbsp;</span>{% endif %}
