{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_new' %}
{% set title = 'tab.materials.new_material.title'|i18next %}

{% block headerInner %}
    {{ parent() }}
{% endblock %}

{% block bodyInner %}
    {% include 'tabs/materials/_material-properties-form.twig' with { 'tab':'cut_options' } %}
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary btn-validate-modal" id="ladb_materials_create" disabled>{{ 'default.create'|i18next }}</button>
{% endblock %}