{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_new' %}
{% set title = 'tab.materials.new_material.title'|i18next %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="materials.new"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block bodyInner %}
    {% include 'tabs/materials/_material-properties-form.twig' with { 'tab':'cut_options' } %}
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_materials_create" disabled>{{ 'default.create'|i18next }}</button>
{% endblock %}
