<div id="{{ id }}" class="ladb-editor-std-attributes">
    <div class="col-xs-11">
        <div class="ladb-editor-std-attributes-rows"></div>
    </div>
    <div class="col-xs-10 col-xs-push-1 text-right">
        <button class="btn btn-default btn-xs"><i class="ladb-opencutlist-icon-plus"></i></button>
    </div>
</div>