<div class="ladb-editor-std-prices-row row">
    <label class="control-label col-xs-6">{{ 'tab.materials.edit_material.std_prices'|i18next }}</label>
    <div class="col-xs-6">
        <input type="text" class="form-control text-right" placeholder=" ">
    </div>
</div>