<div class="ladb-editor-export-column-item-title">{% if title %}<strong>{{ title }}</strong>{% if name and name != title %} <em class="text-muted">&lt;{{ ('tab.cutlist.export.'~name)|i18next }}&gt;</em>{% endif %}{% elseif name %}{{ ('tab.cutlist.export.'~name)|i18next }}{% else %}<span class="text-muted">{{ 'tab.cutlist.export.placeholder.no_column_title'|i18next }}</span>{% endif %}</div>
