<div id="{{ id }}" class="ladb-editor-std-prices">
    <div class="col-xs-10 col-xs-push-1">
        <div class="ladb-editor-std-prices-rows"></div>
    </div>
    <div class="col-xs-10 col-xs-push-1 text-right">
        <button class="btn btn-default btn-xs"><i class="ladb-opencutlist-icon-plus"></i> {{ 'tab.materials.edit_material.std_prices_add'|i18next }}</button>
    </div>
</div>