<div id="{{ id }}" class="ladb-editor-sizes">
    <div class="col-xs-11">
        <div class="ladb-editor-sizes-rows"></div>
    </div>
    <div class="col-xs-10 col-xs-push-1 text-right">
        <button class="btn btn-default btn-xs"><i class="ladb-opencutlist-icon-plus"></i> ADD SIZE</button>
    </div>
</div>