<div class="ladb-editor-std-attributes-row row">
    <label class="control-label col-xs-6">{{ ('tab.materials.edit_material.std_'~strippedName)|i18next }}</label>
    <div class="col-xs-6">
        <input type="text" class="form-control text-right">
    </div>
</div>