<div class="ladb-editor-sizes-row row">
    <label class="control-label col-xs-4">Blop</label>
    <div class="col-xs-3">
        <input type="text" class="form-control text-right d1">
    </div>
    <div class="col-xs-3">
        <input type="text" class="form-control text-right d2">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control text-right q">
    </div>
</div>