<div class="ladb-editor-sizes-row row">
    <div class="col-xs-1">
        <div class="ladb-handle"><i class="ladb-opencutlist-icon-reorder"></i></div>
    </div>
    <div class="col-xs-11">
        <input type="hidden">
    </div>
</div>