<div id="{{ id }}" class="ladb-editor-sizes">
    <label class="control-label col-xs-4">{{ fieldName }}</label>
    <div class="col-xs-7">
        <div class="ladb-editor-sizes-empty" style="display: none;">{{ emptyLabel }}</div>
        <div class="ladb-editor-sizes-rows"></div>
    </div>
    <div class="col-xs-1">
        <div class="ladb-editor-sizes-remove-rows"></div>
    </div>
    <div class="col-xs-10 col-xs-push-1 text-right">
        <button class="btn btn-default btn-xs"><i class="ladb-opencutlist-icon-plus"></i></button>
    </div>
</div>