<div class="ladb-editor-std-attributes-row row ladb-state-sticky">
    <label class="control-label col-xs-7">{{ ('tab.materials.edit_material.std_'~strippedName)|i18next }}</label>
    <div class="col-xs-5">
        <input type="text" class="form-control text-right">
    </div>
</div>