<div class="ladb-viewer-part">
    <iframe src="viewer.html"></iframe>
    <div class="ladb-viewer-part-ui-left">
        <button id="ladb_viewer_part_btn_isometric_view" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{ 'core.component.viewer_part.isometric_view'|i18next }}"><i class="ladb-opencutlist-icon-isometric"></i></button>
        <button id="ladb_viewer_part_btn_front_view" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{ 'core.component.viewer_part.front_view'|i18next }}"><i class="ladb-opencutlist-icon-veneer-10"></i></button>
        <button id="ladb_viewer_part_btn_back_view" class="btn btn-default btn-sm" data-toggle="tooltip" title="{{ 'core.component.viewer_part.back_view'|i18next }}"><i class="ladb-opencutlist-icon-veneer-01"></i></button>
    </div>
    <div class="ladb-viewer-part-ui-right">
        <button id="ladb_viewer_part_btn_toggle_box_helper" class="btn btn-default btn-sm"><i class="ladb-opencutlist-icon-origin-min"></i></button>
        <button id="ladb_viewer_part_btn_toggle_axes_helper" class="btn btn-default btn-sm"><i class="ladb-opencutlist-icon-axes"></i></button>
        <button id="ladb_viewer_part_btn_toggle_auto_rotate" class="btn btn-default btn-sm"><i class="ladb-opencutlist-icon-refresh"></i></button>
    </div>
</div>