{% extends 'core/_modal.twig' %}

{% set id = 'ladb_forum_redirection' %}
{% set title = 'Redirection' %}

{% block bodyInner %}
    <div class="media">
        <div class="media-left"><img src="../img/opencollective-icon.svg" width="50"></div>
        <div class="media-body">{{ 'tab.forum.redirection'|i18next }}</div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_forum_redirection_continue" data-dismiss="modal">{{ 'default.validate'|i18next }}</button>
{% endblock %}