{% spaceless %}
<div class="ladb-loading{% if (float|default(false)) %} ladb-loading-float{% endif %}"{% if not (noHidden|default(false)) %} style="display: none;"{% endif %}>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
{% endspaceless %}
