{% extends 'core/_modal.twig' %}

{% set id = 'ladb_core_modal_alert' %}
{% set noDefaultClose = true %}
{% set noHeader = title is null %}

{% block bodyInner %}
    <p>{{ text|raw}}</p>
{% endblock %}

{% block footerRightInner %}
    <button id="ladb_confirm_btn_ok" class="btn btn-{{ options.okBtnType|default('primary') }}">{% if options.okBtnIcon is defined %}<i class="ladb-opencutlist-icon-{{ options.okBtnIcon }}"></i> {% endif %}{{ options.okBtnLabel|default('default.ok'|i18next) }}</button>
{% endblock %}
