<div class="media">
    <div class="media-left">
        <i class="ladb-opencutlist-icon-warning" style="font-size: 150%;"></i>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{'default.caution'|i18next}}</h4>
        <p>{{'core.warning.dev'|i18next({ 'version': capabilities.version, 'build': capabilities.build })}}</p>
    </div>
</div>