<div class="panel panel-default ladb-panel-help{% if classes is defined %} {{ classes }}{% endif %}">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <i class="ladb-opencutlist-icon-help" style="font-size: 150%;"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ 'default.help'|i18next }}</h4>
                {% block bodyInner %}{% endblock %}
            </div>
        </div>
    </div>
</div>
