//
// Minitools
//

.ladb-minitools {
  float: right;

  .ladb-separator {
    border-right: 1px solid #eee;
    margin: 0 8px;
  }

  a {
    color: @ladb-global-lighter-color;
    width: 20px;
    text-align: center;
    display: inline-block;

    &[href]:hover, &[href]:focus {
      color: #888;
    }

    &:hover, &:focus {
      text-decoration: none;
    }

    &.ladb-tool-info {
      color: @ladb-brand-info;
    }

    &.ladb-tool-warning {
      color: @ladb-brand-danger;
    }

  }

}