//
// Minitools
//

.ladb-minitools {
  float: right;

  .ladb-separator {
    border-right: 1px solid #eee;
    margin: 0 5px;
  }

  a {
    color: @ladb-global-lighter-color;
    width: 20px;
    text-align: center;
    display: inline-block;

    &:hover, &:focus {
      color: @ladb-global-light-color;
      text-decoration: none;
    }

  }

}