//
// Tab
//

.ladb-tab {
  //position: relative;

  .ladb-header {
    background-color: #ededed;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    z-index: 1;

    .ladb-heading {
      margin: 15px 0 15px 0;
      color: #333;
      line-height: 30px;
      font-size: 2em;
    }

    .ladb-header-tools {
      margin: 15px 0 15px 20px;
      float: right;
    }

    .nav-tabs {
      border-bottom: none;
    }

    .ladb-file-tabs time {
      font-size: 80%;
      margin-left: 10px;
      border-left: 1px solid @ladb-global-border;
      padding-left: 10px;
    }

  }

  .ladb-container {
    padding: 20px 10px;
  }

  .modal.modal-inside, .modal-backdrop {
    margin-left: @ladb-leftbar-width;
    margin-bottom: @ladb-bottombar-height;
  }

  .modal-backdrop {
    background: @ladb-global-bg;
    z-index: 1000;
  }

}

/* Print */

@media print {
  .ladb-tab {

    .ladb-header {
      border-bottom: none;
    }

  }
}
