{# set materials #}

{% for material in materials %}
    <div class="ladb-box ladb-material-box" data-material-id="{{ material.id }}">
        <div class="ladb-content">
            <div class="ladb-image">
                <a href="#" class="ladb-btn-material-edit">
                    <img src="{{ material.thumbnail_file }}" width="128" height="128">
                </a>
            </div>
            <div class="ladb-overlay-caption">{{ material.display_name }}</div>
        </div>
    </div>
{% endfor %}
