{% extends 'core/_modal.twig' %}

{% set id = 'materials_modal' %}
{% set title = 'Propriétés d\'une matière' %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="form-group">
            <label for="ladb_materials_input_name" class="control-label col-xs-4">Nom</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="ladb_materials_input_name">
            </div>
        </div>
        <div class="form-group">
            <label for="ladb_materials_input_type" class="control-label col-xs-4">Type</label>
            <div class="col-xs-8">
                <select class="form-control" id="ladb_materials_input_type">
                    <option value="0" data-content="<span style='color: #ccc; font-style: italic;'>Aucun</span>" selected>0</option>
                    <option value="1" data-content="<i class='ladb-toolbox-icon-hardwood'></i> Bois massif">1</option>
                    <option value="2" data-content="<i class='ladb-toolbox-icon-panel'></i> Bois panneau">2</option>
                </select>
            </div>
        </div>
        <section>
            <h4 class="text-center">Options de débit</h4>
            <div class="form-group">
                <label for="ladb_materials_input_length_increase" class="control-label col-xs-4">Surcote de longueur</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="ladb_materials_input_length_increase">
                </div>
            </div>
            <div class="form-group">
                <label for="ladb_materials_input_width_increase" class="control-label col-xs-4">Surcote de largeur</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="ladb_materials_input_width_increase">
                </div>
            </div>
            <div class="form-group">
                <label for="ladb_materials_input_thickness_increase" class="control-label col-xs-4">Surcote d'épaisseur</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="ladb_materials_input_thickness_increase">
                </div>
            </div>
            <div class="form-group">
                <label for="ladb_materials_input_std_thicknesses" class="control-label col-xs-4">Epaisseurs disponibles</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="ladb_materials_input_std_thicknesses">
                    <span class="help-block">Epaisseurs brutes disponibles exprimées en mm.</span>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <button type="button" class="btn btn-primary" id="ladb_materials_update">Valider</button>
{% endblock %}