{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_remove' %}

{% block header %}{% endblock %}

{% block bodyInner %}
    <div class="media">
        <div class="media-left">
            <i class="ladb-toolbox-icon-warning" style="font-size: 150%;"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ 'default.caution'|i18next }}</h4>
            {{ 'tab.materials.remove.message'|i18next({ 'material_name':material.display_name }) }}<br>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-danger" id="ladb_materials_remove"><i class="ladb-toolbox-icon-trash"></i> {{ 'default.remove'|i18next }}</button>
{% endblock %}