{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}Matières{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_list" class="btn btn-primary">Liste</button>
{% endblock %}

{% block containerInner %}
    <div id="materials_list"></div>
    {% include 'tabs/materials/_material-modal.twig' %}
{% endblock %}