{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<span id="ladb_filename" class="text-muted pull-right"></span>Matières{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_list" class="btn btn-primary">Rafraichir</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page"></div>
    {% include 'tabs/materials/_material-modal.twig' %}
{% endblock %}