<div id="ladb_sponsor_ad">
    <div class="ladb-sponsor-ad-text">{{ 'tab.sponsor.ad'|i18next }}</div>
    <svg class="ladb-sponsor-ad-arrow" width="60" height="60" viewBox="0 0 50 50" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <path d="M3.281,14.755c15.032,-0.22 32.323,2.482 41.719,27.245" style="fill:none;stroke:#e84fa9;stroke-width:1px;stroke-linecap:round;stroke-miterlimit:1.5;"/>
        <path d="M47.652,48.702l-5.018,-6.058l4.769,-1.565l0.249,7.623Z" style="fill:#e84fa9;"/>
    </svg>
</div>
