{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<i class="ladb-opencutlist-icon-sponsor"></i> {{ parent() }}{% endblock %}

{% block headerToolsInner %}
    <a id="ladb_btn_sponsor" class="btn btn-default" href="https://opencollective.com/how-it-works" target="_blank"><img src="../img/opencollective-icon.svg" height="18"> Open Collective...</a>
{% endblock %}

{% block containerInner %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left"><img src="../img/icon.svg" width="114" height="114"></div>
                <div class="media-body ladb-sponsor-panel-body">
                    {{ 'tab.sponsor.description'|i18next }}
                </div>
            </div>
        </div>
    </div>
    {% include 'tabs/sponsor/_widget-objective.twig' %}
    <p class="text-center">
        <a href="https://opencollective.com/lairdubois-opencutlist-sketchup-extension#section-contribute" class="btn btn-sponsor btn-lg" target="_blank"><i class="ladb-opencutlist-icon-sponsor"></i> {{ 'tab.sponsor.contribute'|i18next }}...</a>
    </p>
    <div id="ladb_sponsor_backers_widget">
        {% include 'core/_loading.twig' with { 'noHidden':true } %}
    </div>
{% endblock %}