{% extends 'tabs/base-file-tab.twig' %}

{% block inner %}{{ parent() }}<span class="ladb-extra ladb-horizontal-left-separator">{{ importablePartCount }} {{ ('default.part_'~(importablePartCount > 1 ? 'plural' : 'single'))|i18next }}</span>{% include 'core/_length-unit-extra.twig' %}{% endblock %}