{% extends 'core/_modal.twig' %}

{% set id = 'ladb_importer_modal_import' %}
{% set title = 'tab.importer.import.title'|i18next %}

{% block bodyInner %}
    {{ 'tab.importer.import.info'|i18next({ 'count':importablePartCount }) }}
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary" id="ladb_importer_import">{{ 'default.import'|i18next }}</button>
{% endblock %}