{% extends 'tabs/base-tab.twig' %}

{% set slideClasses = 'ladb-overflow-x-auto' %}

{% block headerToolsInner %}
    <button id="ladb_btn_open" class="btn btn-primary">{{ 'tab.importer.open_csv'|i18next }}...</button>
    <button id="ladb_btn_import" class="btn btn-primary" style="display: none;"><i class="ladb-opencutlist-icon-plus"></i> {{ 'tab.importer.import_to_model'|i18next }}...</button>
    &nbsp;
    <button class="btn btn-default" data-help-page="importer"><i class="ladb-opencutlist-icon-help"></i></button>
{% endblock %}

{% block containerInner %}
    {% include 'tabs/importer/_panel-help.twig' %}
    {{ parent() }}
    <div class="ladb-page ladb-importer-page"></div>
{% endblock %}