{% extends 'tabs/base-slide.twig' %}

{# set tabName #}

{% block screen %}
<div id="ladb_tab_{{ tabName }}" class="ladb-tab">
    {{ parent() }}
</div>
{% endblock %}

{% block headerHeadingInner %}{{ ('tab.'~tabName~'.title')|i18next }}{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="ladb-file-tabs nav nav-tabs"></ul>
{% endblock %}