{# set id #}
{# set out (facultative) #}
{# set slideClasses (facultative) #}

{% block slide %}
<div{% if id %} id="{{ id }}"{% endif %} class="ladb-slide {% if out|default(false) %}out{% else %}in{% endif %}{% if slideClasses is defined %} {{ slideClasses }}{% endif %}">
    <div class="ladb-header-wrapper">
        <div class="ladb-header">
            <div class="container-fluid">
                {% block headerInner %}
                    {% block headerToolsOuter %}
                        <div class="no-print ladb-header-tools">
                            {% block headerToolsInner %}{% endblock %}
                        </div>
                    {% endblock %}
                    <h1 class="ladb-heading">{% block headerHeadingInner %}{% endblock %}</h1>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block containerOuter %}
        <div class="ladb-container">
            {% block containerFluidOuter %}
                <div class="container-fluid">
                    {% block containerInner %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}
