//
// Cutlist Packing
//

.ladb-cutlist-packing-group {
  page-break-inside: avoid;

  svg {
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
    width: 100%;

    /* .bin */

    .bin {

      .bin-outer {
        fill: #333;
      }

      .bin-inner {
        //fill: #fff;
      }

      .bin-dimension {
        fill: #888;
      }

    }

    /* .item */

    .item {
      cursor: url('../img/cursor-highlight.png'), auto;

      &:hover {

        .item-outer {
          fill: lighten(@ladb-brand-primary, 40%);
        }

        .item-inner {
          fill: lighten(@ladb-brand-primary, 40%);
          filter: none;
        }

        .item-projection-shape {
          fill: lighten(@ladb-brand-primary, 10%);
          filter: none;
        }

        .item-projection-machining {
          fill: lighten(@ladb-brand-primary, 25%);
          stroke: lighten(@ladb-brand-primary, 10%);
          filter: none;
        }

      }

      .item-outer {
        fill: #f7f7f7;
      }

      .item-inner {
        fill: #eee;
      }

      .item-projection-outer {
        fill: #fff;
      }

      .item-projection-shape {
        //fill: #eee;
      }

      .item-projection-machining {
        fill: lighten(#eee, 3%);
      }

      .item-edge {
      }

      .item-number {
        fill: #000;
      }

      .item-dimension {
        fill: #000;
      }

    }

    &.problem-type-rectangle .item {

      .item-outer {
        stroke: #ccc;
        stroke-dasharray: 4;
      }

      &:hover {
        .item-outer {
          stroke: @ladb-brand-primary;
        }
      }

    }

    /* .leftover */

    .leftover {
      fill: none;
      stroke: none;

      .leftover-dimension {
        fill: #999;
      }

    }

    /* .cut */

    .cut {

      &:hover {
        .cut-outer, .cut-inner {
          fill: @ladb-brand-primary;
          fill-opacity: 1.0;
        }
      }

      &.cut-trimming {
        &.cut-highlighted {
          .cut-outer, .cut-inner {
            fill: #555555;
          }
          .cut-outer {
            fill-opacity: 0.5;
          }
        }
        &:hover {
          .cut-outer, .cut-inner {
            fill: #555555;
          }
          .cut-outer {
            fill-opacity: 1.0;
          }
        }
      }

      &.cut-bounding {
        &.cut-highlighted {
          .cut-outer, .cut-inner {
            fill: #F5486E;
          }
          .cut-outer {
            fill-opacity: 0.5;
          }
        }
        &:hover {
          .cut-outer, .cut-inner {
            fill: #F5486E;
          }
          .cut-outer {
            fill-opacity: 1.0;
          }
        }
      }

      &.cut-internal-through {
        &.cut-highlighted {
          .cut-outer, .cut-inner {
            fill: #2DB84D;
          }
          .cut-outer {
            fill-opacity: 0.5;
          }
        }
        &:hover {
          .cut-outer, .cut-inner {
            fill: #2DB84D;
          }
          .cut-outer {
            fill-opacity: 1.0;
          }
        }
      }

      .cut-outer {
        fill: #ffffff;
        fill-opacity: 0.01;
      }
      .cut-inner {
      }
      &:not(.cut-lg) .cut-inner {
        fill: #555;
      }

    }

  }

}

@media print {

  .ladb-cutlist-packing-group svg {

    &.full-width-diagram {
      max-height: 86vh !important;
    }

    .item {
      .item-outer, .item-inner {
        fill: #fff;
      }
      .item-projection-shape, .item-projection-machining {
        fill: none;
        stroke: #aaa;
      }
    }

    .cut {
      .cut-inner {
        fill: #000;
      }
      .cut-outer {
        fill: none !important;
      }
    }

  }

}
