//
// Cutlist Packing
//

.ladb-cutlist-packing-preview {
  display: flex;
  max-height: 100px;
  gap: 10px;
  position: relative;

  a.ladb-btn-scrollto  {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &:hover svg {
      border-color: @ladb-brand-primary;
    }

    svg {
      shape-rendering: geometricPrecision;
      text-rendering: optimizeLegibility;
      border-style: solid;
      border-width: 2px;
      border-color: #fff;
      pointer-events: none;

      .bin .bin-minmax {
        stroke: #f00;
      }

    }

    .ladb-counter {
      position: absolute;
      top: -5px;
      text-align: center;
      padding: 0 5px;
      color: white;
      border-radius: 2px;
      font-size: 80%;
      background: #555;
    }

  }

}

.ladb-cutlist-packing-group {
  page-break-inside: avoid;

  svg {
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
    width: 100%;
    display: block;

    /* .bin */

    .bin {

      .bin-origin {
        stroke-width: 1px;
        stroke: #000;
      }

      .bin-outer {
        fill: #333;
      }

      .bin-inner {
        //fill: #fff;
      }

      .bin-dimension {
        fill: #888;
      }

      .bin-trimming {
        fill: none;
        stroke: #ddd;
        stroke-dasharray: 4px;
      }

      .bin-minmax {

        &:hover {
          .bin-minmax-outer {
            fill: #f00;
            fill-opacity: 1.0;
          }
        }

        .bin-minmax-outer {
          fill: #ffffff;
          fill-opacity: 0.01;
        }

        .bin-minmax-inner {
          stroke: #f00;
          stroke-dasharray: 8px 4px;
        }
      }

    }

    /* .item */

    .item {
      cursor: url('../img/cursor-highlight.png'), auto;

      &:hover {

        .item-outer {
          fill: lighten(@ladb-brand-primary, 40%);
        }

        .item-inner {
          fill: lighten(@ladb-brand-primary, 40%);
          filter: none;
        }

        .item-projection-shape {
          fill: lighten(@ladb-brand-primary, 10%);
          filter: none;
        }

      }

      .item-outer {
        fill: #f7f7f7;
      }

      .item-inner {
        fill: #eee;
      }

      .item-projection-shape {
        //fill: #eee;
      }

      .item-edge {
      }

      .item-label {
        fill: #000;
      }

      .item-dimension {
        fill: #000;

        &.item-dimension-cutting {
          fill: #f00;
        }

      }

    }

    &.problem-type-rectangle .item {

      .item-outer {
        stroke: #ccc;
        stroke-dasharray: 4;
      }

      &:hover {
        .item-outer {
          stroke: @ladb-brand-primary;
        }
      }

    }

    /* .leftover */

    .leftover {
      fill: none;
      stroke: none;

      &:hover {
        .leftover-inner {
          fill: @ladb-brand-primary;
          opacity: 0.3;
        }
      }

      .leftover-inner {
        fill: #999;
        opacity: 0.1;
      }

      .leftover-dimension {
        fill: #999;
      }

    }

    /* .cut */

    .cut {

      &:hover {
        .cut-outer, .cut-inner {
          fill: @ladb-brand-primary;
        }
        .cut-outer {
          fill-opacity: 1.0;
        }
      }

      &.cut-trimming {
        &.cut-highlighted {
          .cut-outer, .cut-inner {
            fill: #555555;
          }
          .cut-outer {
            fill-opacity: 0.5;
          }
        }
        &:hover {
          .cut-outer, .cut-inner {
            fill: #555555;
          }
        }
      }

      &.cut-primary {
        &.cut-highlighted {
          .cut-outer, .cut-inner {
            fill: #F5486E;
          }
          .cut-outer {
            fill-opacity: 0.5;
          }
        }
        &:hover {
          .cut-outer, .cut-inner {
            fill: #F5486E;
          }
          .cut-outer {
            fill-opacity: 1.0;
          }
        }
      }

      .cut-outer {
        fill: #ffffff;
        fill-opacity: 0.01;
      }
      .cut-inner {
      }

    }

  }

}

// Cuts summary

.ladb-cutlist-packing-cuts-summary {
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #F5486E;
  margin-bottom: 4px;
  text-align: right;

  > div:first-child {
    font-size: 16px;
    margin-bottom: 4px;
  }

}

@media print {

  .ladb-cutlist-packing-preview {

    svg {

      &.problem-type-irregular .item {

        .item-projection-shape, .item-projection-machining {
          stroke: #000 !important;
        }

      }

    }

    a.ladb-btn-scrollto .ladb-counter {
      color: white !important;
      background: #000 !important;
    }

  }

  .ladb-cutlist-packing-group svg {

    max-height: 86vh !important;

    &.no-print-color {
      .item {
        .item-outer, .item-inner {
          fill: #fff !important;
        }
        .item-projection-shape, .item-projection-machining {
          fill: #fff !important;
          stroke: #aaa !important;
        }
      }
    }

    .cut {
      .cut-inner {
        fill: #000;
      }
      .cut-outer {
        fill: none !important;
      }
    }

    &.problem-type-irregular .item {

      .item-projection-shape, .item-projection-machining {
        stroke: #000 !important;
      }

    }

  }

}
