//
// Materials
//

@material-texture-preview-size: 250px;

.ladb-material-box {
  .list-box();
  .list-box-hover();
  .list-box-active();
  width: 100%;
  margin-bottom: @ladb-gutter;

  &.ladb-active {
    a.ladb-btn-set-current {
      color: #555;
    }
  }

  .ladb-content {

    .ladb-image {
      position: relative;
      background-color: #fff;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

    }
  }

  .ladb-overlay-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 10px 8px 10px;
    color: #fff;
    #gradient > .vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 0%, 100%);
    text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
    overflow: hidden;

    .ladb-tiny {
      font-size: 70%;
    }

  }

  .ladb-overlay-drop {
    position: absolute;
    left: 6px;
    top: 0;
    font-size: 150%;
  }

  .ladb-overlay-icon {
    position: absolute;
    right: 0;
    top: 0;

    .ladb-material-type-icon {
      border-radius: 0 0 0 4px;

      &.ladb-material-type-0 {
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        margin-top: 3px;

        i.ladb-opencutlist-icon-unknow:before {
          opacity: 0.5;
        }

      }

    }

  }

  .ladb-footer {
    padding-top: 5px;
    font-size: 120%;
  }

}

.ladb-material-type-icon {
  font-size: 20px;
  display: inline-block;
  width: 28px;
  height: 26px;
  line-height: 26px;
  text-align: center;

  &.ladb-material-type-icon-compact {
    font-size: 1em;
    width: auto;
    height: auto;
    line-height: 1em;
  }

  &.ladb-material-type-icon-filled {
    color: #fff;
    border-radius: 4px;

    &.ladb-material-type-1 {
      background-color: @ladb-material-type-1;
    }

    &.ladb-material-type-2 {
      background-color: @ladb-material-type-2;
    }

    &.ladb-material-type-3 {
      background-color: @ladb-material-type-3;
    }

    &.ladb-material-type-4 {
      background-color: @ladb-material-type-4;
    }

    &.ladb-material-type-5 {
      background-color: @ladb-material-type-5;
    }

    &.ladb-material-type-6 {
      background-color: @ladb-material-type-6;
    }

  }

}

.ladb-material-texture-preview-wrapper {
  display: table;
  width: 100%;

  .ladb-material-texture-preview {
    display: table-cell;
    height: 270px;
    text-align: center;
    vertical-align: middle;

    .thumbnail {
      position: relative;
      display: inline-block;
      margin: 0;

      img {
        max-width: @material-texture-preview-size;
        max-height: @material-texture-preview-size;
      }

    }

  }
}

.ladb-material-color-drop {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  box-sizing: content-box;
  .printable-background();
}

// Print

@media print {

  .ladb-material-type-icon {
    margin-top: 0 !important;
    margin-bottom: 0 !important;;
    color: #000 !important;
    border-radius: 0;
    width: auto;
    height: auto;
    line-height: inherit;

    &.ladb-material-type-icon-filled {
      background: none !important;
      font-size: 16px;
      line-height: inherit;
    }

  }

}