//
// Outliner
//

.ladb-outliner-group {

  &.ladb-outliner-group-dark {

    thead tr.table-heading {
      background-color: #555;
      color: #fff;
    }

  }

  thead tr {

    &.table-heading {
      background-color: #eee;

      .ladb-heading {
        line-height: 30px;
        font-size: 16px;
      }

    }

    td {
      border-bottom: 0;
    }

  }

  tr.table-column-heading {

    td {
      text-align: center;
      vertical-align: middle;
    }

    .ladb-minitools a {
      font-size: 16px;
    }

  }

  tbody tr.ladb-outliner-row {
    font-size: 114%;
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
    }

    &.ladb-mute {
      opacity: 0.4;
    }

    td.ladb-cutlist-value {
      white-space: nowrap;
      text-align: center;

      &.ladb-disabled {
        .hatched();
      }

      &.ladb-cutlist-value-highlighted {
        color: red;
      }

      &.ladb-cutlist-value-right {
        text-align: right;
      }

      span.ladb-opencutlist-icon {
        color: #999;
      }

      i.ladb-opencutlist-icon-asterisk {
        color: @ladb-brand-info;
      }

      hr {

        &:first-child {
          display: none;
        }

        margin-top: 3px;
        margin-bottom: 3px;
        border-color: @ladb-global-border;
      }

    }

  }

}