//
// Tutorials
//

.ladb-tutorial-box {
  .list-box();
  .list-box-hover();
  .list-box-active();
  width: 100%;
  margin-bottom: @ladb-gutter;

  > .ladb-content {

    > .ladb-image {
      position: relative;

      .ladb-flag {
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        width: 30px;
        height: 25px;
        text-align: right;
        font-size: 20px;
        line-height: 25px;
        border-radius: 0 0 0 5px;
      }

    }

    > .ladb-footer {
      padding: 5px;

      .ladb-tutorial-title {
        font-weight: bold;
      }

      .ladb-tutorial-author {
        font-size: 80%;
      }

    }

  }

}

.ladb-tutorial-author {

  > span {
    color: #bbb;
  }

}