@font-face {
  font-family: 'ladb_opencutlist';
  src:
    url('../fonts/ladb_opencutlist.ttf?wp1a82') format('truetype'),
    url('../fonts/ladb_opencutlist.woff?wp1a82') format('woff'),
    url('../fonts/ladb_opencutlist.svg?wp1a82#ladb_opencutlist') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, span.ladb-opencutlist-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ladb_opencutlist' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ladb-opencutlist-icon-lg:before {
  font-size: 150%;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

.ladb-opencutlist-icon-xl:before {
  font-size: 250%;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}


.ladb-opencutlist-icon-unknow:before {
  opacity: 0.3;
}


.ladb-opencutlist-icon-bug:before {
  content: "\e988";
}
.ladb-opencutlist-icon-preset:before {
  content: "\e983";
}
.ladb-opencutlist-icon-labels:before {
  content: "\e900";
}
.ladb-opencutlist-icon-labels-selection:before {
  content: "\e901";
}
.ladb-opencutlist-icon-anchor-end:before {
  content: "\e902";
}
.ladb-opencutlist-icon-anchor-middle:before {
  content: "\e903";
}
.ladb-opencutlist-icon-anchor-start:before {
  content: "\e904";
}
.ladb-opencutlist-icon-reset:before {
  content: "\e905";
}
.ladb-opencutlist-icon-formula:before {
  content: "\e906";
}
.ladb-opencutlist-icon-comment:before {
  content: "\e907";
}
.ladb-opencutlist-icon-send:before {
  content: "\e908";
}
.ladb-opencutlist-icon-play:before {
  content: "\e909";
}
.ladb-opencutlist-icon-clear:before {
  content: "\e90a";
}
.ladb-opencutlist-icon-size-increase:before {
  content: "\e90b";
}
.ladb-opencutlist-icon-obsolete:before {
  content: "\e90c";
}
.ladb-opencutlist-icon-sponsor:before {
  content: "\e90e";
}
.ladb-opencutlist-icon-multiple:before {
  content: "\e90f";
}
.ladb-opencutlist-icon-check-box:before {
  content: "\e910";
}
.ladb-opencutlist-icon-check-box-with-check-sign:before {
  content: "\e911";
}
.ladb-opencutlist-icon-uncheck-mark:before {
  content: "\e912";
}
.ladb-opencutlist-icon-check-mark:before {
  content: "\e913";
}
.ladb-opencutlist-icon-reorder:before {
  content: "\e914";
}
.ladb-opencutlist-icon-edge-decremented:before {
  content: "\e915";
}
.ladb-opencutlist-icon-filter-on:before {
  content: "\e916";
}
.ladb-opencutlist-icon-filter-off:before {
  content: "\e917";
}
.ladb-opencutlist-icon-origin-min-center:before {
  content: "\e918";
}
.ladb-opencutlist-icon-origin-center:before {
  content: "\e919";
}
.ladb-opencutlist-icon-origin-min:before {
  content: "\e91a";
}
.ladb-opencutlist-icon-drop:before {
  content: "\e91b";
}
.ladb-opencutlist-icon-lock:before {
  content: "\e91c";
}
.ladb-opencutlist-icon-unlock:before {
  content: "\e91d";
}
.ladb-opencutlist-icon-rotate-right:before {
  content: "\e91e";
}
.ladb-opencutlist-icon-rotate-left:before {
  content: "\e91f";
}
.ladb-opencutlist-icon-texture:before {
  content: "\e920";
}
.ladb-opencutlist-icon-review:before {
  content: "\e921";
}
.ladb-opencutlist-icon-plan:before {
  content: "\e922";
}
.ladb-opencutlist-icon-extension:before {
  content: "\e923";
}
.ladb-opencutlist-icon-tutorials:before {
  content: "\e924";
}
.ladb-opencutlist-icon-news:before {
  content: "\e925";
}
.ladb-opencutlist-icon-forum:before {
  content: "\e926";
}
.ladb-opencutlist-icon-submenu:before {
  content: "\e927";
}
.ladb-opencutlist-icon-more:before {
  content: "\e928";
}
.ladb-opencutlist-icon-height:before {
  content: "\e929";
}
.ladb-opencutlist-icon-width:before {
  content: "\e92a";
}
.ladb-opencutlist-icon-saw:before {
  content: "\e92b";
}
.ladb-opencutlist-icon-vertical-cut-left:before {
  content: "\e92c";
}
.ladb-opencutlist-icon-vertical-cut-right:before {
  content: "\e987";
}
.ladb-opencutlist-icon-horizontal-cut-top:before {
  content: "\e92d";
}
.ladb-opencutlist-icon-horizontal-cut-bottom:before {
  content: "\e92e";
}
.ladb-opencutlist-icon-grained-0:before {
  content: "\e92f";
}
.ladb-opencutlist-icon-grained-1:before {
  content: "\e930";
}
.ladb-opencutlist-icon-instance-count-by-part:before {
  content: "\e985";
}
.ladb-opencutlist-icon-missing-instance-count:before {
  content: "\e986";
}
.ladb-opencutlist-icon-multiple-layers:before {
  content: "\e931";
}
.ladb-opencutlist-icon-flipped:before {
  content: "\e932";
}
.ladb-opencutlist-icon-symmetrical:before {
  content: "\e984";
}
.ladb-opencutlist-icon-resized:before {
  content: "\e933";
}
.ladb-opencutlist-icon-import:before {
  content: "\e934";
}
.ladb-opencutlist-icon-export:before {
  content: "\e935";
}
.ladb-opencutlist-icon-numbers-reset:before {
  content: "\e936";
}
.ladb-opencutlist-icon-numbers-save:before {
  content: "\e937";
}
.ladb-opencutlist-icon-axes:before {
  content: "\e938";
}
.ladb-opencutlist-icon-auto-oriented:before {
  content: "\e939";
}
.ladb-opencutlist-icon-not-aligned-on-axes:before {
  content: "\e93a";
}
.ladb-opencutlist-icon-orientation-locked-on-axis:before {
  content: "\e93b";
}
.ladb-opencutlist-icon-trash:before {
  content: "\e93c";
}
.ladb-opencutlist-icon-sort-asc:before {
  content: "\e93d";
}
.ladb-opencutlist-icon-sort-desc:before {
  content: "\e93e";
}
.ladb-opencutlist-icon-sort-col:before {
  content: "\e93f";
}
.ladb-opencutlist-icon-material-origin-1:before {
  content: "\e940";
}
.ladb-opencutlist-icon-material-origin-3:before {
  content: "\e941";
}
.ladb-opencutlist-icon-material-origin-2:before {
  content: "\e942";
}
.ladb-opencutlist-icon-edit:before {
  content: "\e943";
}
.ladb-opencutlist-icon-edit-multiple:before {
  content: "\e944";
}
.ladb-opencutlist-icon-magnifier:before {
  content: "\e945";
}
.ladb-opencutlist-icon-magnifier-multiple:before {
  content: "\e946";
}
.ladb-opencutlist-icon-arrow-circle-down:before {
  content: "\e947";
}
.ladb-opencutlist-icon-arrow-circle-up:before {
  content: "\e948";
}
.ladb-opencutlist-icon-settings:before {
  content: "\e949";
}
.ladb-opencutlist-icon-warning:before {
  content: "\e94a";
}
.ladb-opencutlist-icon-info:before {
  content: "\e94b";
}
.ladb-opencutlist-icon-help:before {
  content: "\e94c";
}
.ladb-opencutlist-icon-print:before {
  content: "\e94d";
}
.ladb-opencutlist-icon-cutlist:before {
  content: "\e94e";
}
.ladb-opencutlist-icon-bar:before {
  content: "\e94f";
}
.ladb-opencutlist-icon-hardware:before {
  content: "\e950";
}
.ladb-opencutlist-icon-mini-logo-ladb:before {
  content: "\e951";
}
.ladb-opencutlist-icon-zzz:before {
  content: "\e952";
}
.ladb-opencutlist-icon-update:before {
  content: "\e953";
}
.ladb-opencutlist-icon-cuttingdiagram1d:before {
  content: "\e954";
}
.ladb-opencutlist-icon-cuttingdiagram1d-selection:before {
  content: "\e955";
}
.ladb-opencutlist-icon-cuttingdiagram2d:before {
  content: "\e956";
}
.ladb-opencutlist-icon-cuttingdiagram2d-selection:before {
  content: "\e957";
}
.ladb-opencutlist-icon-asterisk:before {
  content: "\e958";
}
.ladb-opencutlist-icon-edge-1111:before {
  content: "\e959";
}
.ladb-opencutlist-icon-edge-1010:before {
  content: "\e95a";
}
.ladb-opencutlist-icon-edge-0101:before {
  content: "\e95b";
}
.ladb-opencutlist-icon-edge-1110:before {
  content: "\e95c";
}
.ladb-opencutlist-icon-edge-1101:before {
  content: "\e95d";
}
.ladb-opencutlist-icon-edge-1011:before {
  content: "\e95e";
}
.ladb-opencutlist-icon-edge-0111:before {
  content: "\e95f";
}
.ladb-opencutlist-icon-edge-1001:before {
  content: "\e960";
}
.ladb-opencutlist-icon-edge-0011:before {
  content: "\e961";
}
.ladb-opencutlist-icon-edge-0110:before {
  content: "\e962";
}
.ladb-opencutlist-icon-edge-1100:before {
  content: "\e963";
}
.ladb-opencutlist-icon-edge-0001:before {
  content: "\e964";
}
.ladb-opencutlist-icon-edge-0010:before {
  content: "\e965";
}
.ladb-opencutlist-icon-edge-0100:before {
  content: "\e966";
}
.ladb-opencutlist-icon-edge-1000:before {
  content: "\e967";
}
.ladb-opencutlist-icon-edge-0000:before {
  content: "\e968";
}
.ladb-opencutlist-icon-dynamic-component:before {
  content: "\e969";
}
.ladb-opencutlist-icon-dimensions-help:before {
  content: "\e96a";
}
.ladb-opencutlist-icon-tag:before {
  content: "\e96b";
}
.ladb-opencutlist-icon-minus:before {
  content: "\e96c";
}
.ladb-opencutlist-icon-plus:before {
  content: "\e96d";
}
.ladb-opencutlist-icon-size-length-width:before {
  content: "\e96e";
}
.ladb-opencutlist-icon-size-length:before {
  content: "\e90d";
}
.ladb-opencutlist-icon-close:before {
  content: "\e96f";
}
.ladb-opencutlist-icon-save:before {
  content: "\e970";
}
.ladb-opencutlist-icon-refresh:before {
  content: "\e971";
}
.ladb-opencutlist-icon-tick:before {
  content: "\e972";
}
.ladb-opencutlist-icon-link:before {
  content: "\e973";
}
.ladb-opencutlist-icon-eye-close:before {
  content: "\e974";
}
.ladb-opencutlist-icon-eye-open:before {
  content: "\e975";
}
.ladb-opencutlist-icon-tip:before {
  content: "\e976";
}
.ladb-opencutlist-icon-report:before {
  content: "\e977";
}
.ladb-opencutlist-icon-edge:before {
  content: "\e978";
}
.ladb-opencutlist-icon-solid-wood:before {
  content: "\e979";
}
.ladb-opencutlist-icon-sheet-good:before {
  content: "\e97a";
}
.ladb-opencutlist-icon-arrow-right:before {
  content: "\e97b";
}
.ladb-opencutlist-icon-arrow-left:before {
  content: "\e97c";
}
.ladb-opencutlist-icon-arrow-down:before {
  content: "\e97d";
}
.ladb-opencutlist-icon-arrow-up:before {
  content: "\e97e";
}
.ladb-opencutlist-icon-materials:before {
  content: "\e97f";
}
.ladb-opencutlist-icon-unknow:before {
  content: "\e980";
}
.ladb-opencutlist-icon-chevron-right:before {
  content: "\e981";
}
.ladb-opencutlist-icon-chevron-left:before {
  content: "\e982";
}
