{# set generateAt #}

{% extends 'tabs/base-file-tab.twig' %}

{% block inner %}{{ parent() }}{% if pageLabel %} - <em>{{ pageLabel }}</em>{% endif %}<span class="ladb-extra">{{ generateAt|date(('default.date_format'|i18next())) }}</span>{% if length_unit is not null %}<span class="ladb-extra">{{ ('default.unit_'~length_unit)|i18next() }}</span>{% endif %}{% endblock %}