<option value="" data-content="<span style='color: #ccc; font-style: italic;'>{{ 'tab.cutlist.form.material_unkown'|i18next }}</span>"></option>
{% for materialUsage in materialUsages %}
    <option value="{{ materialUsage.name }}">{{ materialUsage.display_name|escape }}</option>
{% endfor %}
