{% extends 'core/_modal.twig' %}

{% set id = 'ladb_options_modal' %}
{% set title = 'Options' %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="checkbox">
            <div class="col-xs-offset-4 col-xs-8">
                <label>
                    <input type="checkbox" id="ladb_input_part_number_letter"> Utiliser des lettres pour la numérotation de pièce
                </label>
            </div>
        </div>
        <div class="checkbox">
            <div class="col-xs-offset-4 col-xs-8">
                <label>
                    <input type="checkbox" id="ladb_input_part_number_sequence_by_group"> Réinitialiser les numéros de pièce par bloc
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
{% endblock %}
