{% extends 'core/_panel-help.twig' %}

{% block panelHelpBodyInner %}
    <p>Sélectionnez, sur votre scène, le composant racine de votre fiche de débit. Puis cliquez sur le bouton <strong>Générer</strong>.<br>
        Si aucun composant n'est sélectionné, tous les composants visibles sur la scène seront considérés.</p>
{% endblock %}
