{% extends 'tabs/base-tab.twig' %}

{% block headerToolsInner %}
    <button id="ladb_btn_generate" class="btn btn-primary">{{ 'default.generate'|i18next }}</button>
    <button id="ladb_btn_print" class="btn btn-default" disabled="disabled"><i class="ladb-toolbox-icon-print"></i> {{ 'default.print'|i18next }}</button>
    <button id="ladb_btn_settings" class="btn btn-default" data-toggle="modal" data-target="#ladb_cutlist_modal_options"><i class="ladb-toolbox-icon-settings"></i> {{ 'default.options'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {% include 'tabs/cutlist/_panel-help.twig' with { 'classes':'no-print' } %}
    {{ parent() }}
    <div class="ladb-page"></div>
    {% include 'tabs/cutlist/_modal-options.twig' with { 'classes':'no-print' } %}
    {% include 'tabs/cutlist/_modal-part.twig' with { 'classes':'no-print' } %}
{% endblock %}